.App {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  height: 100vh;
}
h1 {
  margin-bottom: 30px;
}
.form-data {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
input[type="text"] {
font-size: 1.2rem;
  margin: 10px;
  text-align: center;
}

label {
  font-size: 1.3rem;
}

.input-container {
  position: relative;
}
